.header {
    list-style: none;
    display: flex;
    justify-content: space-between  ;
    font-size: 15px;
    padding: 10px ;
    /* border: 1px solid; */
    background-color: #667b68;
}


.headerMenu a {
    text-transform: capitalize;
    text-decoration: none;
    color:#dde6d5;
    padding: 0 10px;

}

.headerMenu a:hover{
    color: #a3b899;
}

